@media screen and (max-width: 1100px) {
  .main-container .main-container-title {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    padding: 50px 0 0;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .main-container .main-container-title > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .main-container .main-container-title section {
    padding: 0 70px;
  }
  .main-container .main-container-title section h1 {
    width: 70%;
    font-size: 3em;
  }
  .main-container .main-container-title section p {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 50px;
  }
  .main-container .main-container-title section a:first-of-type {
    background-color: darkgreen;
    padding: 20px 40px;
    border-radius: 40px;
    margin-right: 20px;
  }
  .main-container .main-container-title aside img {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 1;
  }
  .nav-container .navbar {
    width: 100%;
    padding: 30px 30px;
    background-color: black;
  }
  .menu-toggle .nav-container .navbar:hover {
    cursor: pointer;
  }
  .nav-container .navbar .bar {
    display: block;
    cursor: pointer;
  }
  .nav-container .navbar #mobile-menu {
    position: absolute;
    top: 30%;
    right: 5%;
    -webkit-transform: translate(5%, 20%);
            transform: translate(5%, 20%);
  }
  .nav-container .navbar #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav-container .navbar #mobile-menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .nav-container .navbar #mobile-menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .nav-container .navbar .nav-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 75px;
    left: -100%;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: -1;
  }
  .nav-container .navbar .nav-menu.active {
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 0;
  }
  .nav-container .navbar .nav-menu .nav-links {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
  }
  .nav-container .navbar .nav-menu .nav-links:not(:last-child) {
    padding-right: 0;
  }
  .nav-container .navbar .nav-menu .nav-links:hover {
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  .nav-container .navbar .nav-menu .nav-links-bin {
    border: none;
    border-radius: 0;
    color: white;
    padding: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  .nav-container .navbar .nav-menu .nav-links-bin:hover {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: black;
    color: #96d13d;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
}