$light: #F3F3F3;
$primary: #F74464;
$secundary: #374258;

* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Maven Pro', sans-serif;
   background-color: black;
}

a {
   color: white !important;
   padding: 0;
   margin: 0;
   text-decoration: none !important;
   &:visited {
      color: white !important;
   }
}

li {
   padding: 0;
   margin: 0;
   list-style: none;
}

h1,h2,h3,h4,h5 {
   padding: 0;
   margin: 0;
}
