footer(class='footer-container')
   div(class='site-map-container')
      ul
         li
            a(href='#home') Go top
         li
            a(href='#aboutme') About me
         li
            a(href='#skills') My skills
         li
            a(href='#experience') My experience
         li
            a(href='#work') My work
   div(class='social-links-container')
      ul
         li
            a(href="https://github.com/SrTeerra" target='_blank')
               i(class='fab fa-github')
         li
            a(href="https://www.behance.net/angellopez20" target='_blank')
               i(class='fab fa-behance')
         li
            a(href="https://www.instagram.com/srterraa/" target='_blank')
               i(class='fab fa-instagram')
         li
            a(href="https://platzi.com/p/srterra/" target='_blank')
               i(class='fas fa-certificate')
