header(class="nav-container")
    nav(class="navbar")
        a(href="/")
          img(src="assets/logo-icon.png", id="navbar-logo")
        div(class="menu-toggle", id="mobile-menu")
            span(class="bar")
            span(class="bar")
            span(class="bar")
        ul(class="nav-menu")
            a(href="/", class="nav-links active") Home
            a(href="#about-me", class="nav-links") About us
            a(href="/", class="nav-links") Skills
            a(href="/", class="nav-links") Experience
            a(href="/", class="nav-links") My work
