
<header class="nav-container">
  <nav class="navbar"><a href="/"><img src="assets/logo-icon.png" id="navbar-logo"/></a>
    <div class="menu-toggle" id="mobile-menu"><span class="bar"></span><span class="bar"></span><span class="bar"></span></div>
    <ul class="nav-menu"><a class="nav-links" href="/">Home</a><a class="nav-links" href="../../aboutus.html">About us</a><a class="nav-links" href="../../contactus.html">My work</a><a class="nav-links" href="../../tracker.html">Experience</a><a class="nav-links" href="../../download.html">Skills</a></ul>
  </nav>
</header>