header(class="nav-container")
    nav(class="nav-bar")
        a(href="/")
          img(src="assets/logo-icon.png", id="navbar-logo")
        div(class="menu-toggle", id="mobile-menu")
            span(class="bar")
            span(class="bar")
            span(class="bar")
        ul(class="nav-menu")
            a(href="/", class="nav-links active") Home
            a(href="#about-me", class="nav-links") About me
            a(href="#skills", class="nav-links") Skills
            a(href="#experience", class="nav-links") Experience
            a(href="#work", class="nav-links") My work
            a(href="#contact", class="nav-links") Contact me
